/src_old/data/
*.asv
/src_old/python/data/newmark_jan_damp_simulation/
/src_old/Virtual_Sensing/data_sens/data_5_2_1.txt
/src_old/Virtual_Sensing/data_sens/data_5_6_1.txt
/src_old/Virtual_Sensing/data_sens/1_data_sim_newmark_jan_damp.mat
/src_update/data
/src_old/python/data/sim_filtered
/src/data
/src/Virtual_sensing/Simulated/Filtered_data_sim
/src/Virtual_sensing/Experimental/Filtered_data
/src_operational/data
/src_operational/Virtual_sensing/Experimental/Filtered_data_3_sensors
/src_operational/Fatique/Rainflow_data_3_sensors
/src_operational/Model_updating/Costfunctions/data_updated_par_3_sensors
/src_operational/Model_updating/Sensitivity_method/data_updated_par_sens_3_sensors