*.asv
/src/data/experimental_data/data.txt
/src/data/experimental_data/data_5_2_1.txt
/src/data/experimental_data/Readme.txt
/src/data/experimental_data/Data_high.npy
/src/data/experimental_data/Data_nodamp.npy
/src/data/simulated_data
/src/Data_visualization.m
/src/Data_indicator.m
/src/Virtual_sensing/Experimental/multiband_5_modes_data.m


/src_operational/data/experimental_data/data.txt
/src_operational/data/experimental_data/data_5_2_1.txt
/src_operational/data/experimental_data/Readme.txt
